body, html {
    height: 100%;
   }

.flexDiv{
    display: flex;
    height: max-content;
    height: 100%;

}

.flexDiv div{
    display: flex;
    color: white;
    font-size: 45px;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
}





.right{
    background-color: blue;
    width: 50%;
    flex: 1;
}

.left{
    background-color: orange;
    width: 50%;
    flex: 1;
}