.gridDiv{
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: auto auto auto auto; /* توزيع الأعمدة (هنا 4 أعمدة)*/
    grid-template-rows: 100px 100px;             /* توزيع الصفوف (هنا صفان)*/

    grid-template-areas: 
    "div3 div2 div4 div6"            /* هون بنعطيه كيف يكون توزيع العناصر رح يكون.
                                                  وبكل عنصر رح نعطيه اسم المرجع*/
    "div7 div8 div5 div1";

}

.gridDiv div{
   display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}




.div1{
    background-color: yellow;
    grid-area: div1;
}
.div2{
    background-color: yellow;
    grid-area: div2;
}
.div3{
    background-color: yellow;
    grid-area: div3;
}
.div4{
    background-color: yellow;
    grid-area: div4;
}
.div5{
    background-color: yellow;
    grid-area: div5;
}
.div6{
    background-color: yellow;
    grid-area: div6;
}
.div7{
    background-color: yellow;
    grid-area: div7;
}
.div8{
    background-color: yellow;
    grid-area: div8;
}